<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome, {{ username }}</h1>
    </header>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{{ url_for('add_student') }}">Add Student</a></li>
                <li><a href="{{ url_for('show_students') }}">See Students</a></li>
                <li><a href="{{ url_for('faculty_update') }}">Add Faculty</a></li>
                <li><a href="{{ url_for('preferences') }}">Prefrences</a></li>
                <li><a href="{{ url_for('allotment') }}">Allocate</a></li>

                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
        <main>
            <h2>Admin Dashboard</h2>
            <p>Manage your university's records efficiently.</p>
        </main>
    </div>
</body>
</html>