<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome, {{ username }}</h1>
    </header>
    <div class="container">
        <h2>Admin Dashboard</h2>
        <a href="{{ url_for('add_student') }}">Add Student</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('show_students') }}">See Students</a>
        <a href="{{ url_for('faculty_update') }}">Add faculty</a>
    </div>
</body>
</html>